.navigation {

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        @media (max-width: 992px) {
            gap: 25px;
        }

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__item {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #263238;

        @media (max-width: 992px) {
            font-size: 18px;
            line-height: 24px;
        }

        @media (max-width: 850px) {
            font-size: 14px;
        }
    }

    &__link {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #263238;
            transition: width 0.3s ease-out;

            @media (max-width: 768px) {
                display: none;
            }
        }

        &:hover::after {
            width: 100%;
        }

        @media (max-width: 768px) {
            display: block;
            color: #fff;
            font-size: 25px;
            padding: 30px 30px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    @media (max-width: 768px) {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.944);
        padding: 120px 20px 20px 20px;
        transition: transform .5s;
        z-index: 2;
    }
}